# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

# Android
/android/local.properties
/android/**/GeneratedPluginRegistrant.java

# iOS
/ios/**/xcuserdata

# Build
*.jks
*.p12
*.key
*.cer

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Files
*.jks
*.p12
*.key
*.cer
*.keystore